@import "./variables";
.body{
    height:1000px;
    width:1300px;
}

    .title{
        letter-spacing: 0;
        padding: 30px;
        margin: 0 auto;
        color:rgb(88, 212, 150);
        text-align: center;
        font-weight:lighter;
        font-style:normal;
        font-family: $letraTitulo, cursive;
        font-size: $resta;
        border-radius: 1em;
        border-style: dotted;
        border-color: rgb(88, 212, 150);
        display:inline-block;
       
      
      }
      @mixin navBar ($colorDeLetra, $tipoDeLetra,$tamanioLetra){
        color: $colorDeLetra;
        font-family: $tipoDeLetra;
        font-size: $tamanioLetra;
        padding: 20px;
        

       
    }
   
      #navitem{
        
        @include navBar(rgb(70, 61, 61), 'Trebuchet MS', 20px);
        
      }
     
      .logo {
          
          height: 100px;
          width: 120px;
          margin-top: 7px;
          margin-right: 5px;
          margin-left: 5px;
          margin-bottom: 5px;
          animation: bounceIn 0.6s;
          transform: rotate(0deg) scale(1) translateZ(0);
          transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
          cursor: pointer;
          border-radius: 100%;
          float: left;
        
    
        }
        
        .logo:hover {
          transform: rotate(10deg) scale(1.1);
        }
        
    .carousel-inner {
       height: 700px; 
       padding: 50px;
      
      }
      .grid {
        display: grid;  
        grid-template-columns: 70px;          
        grid-template-rows: 70px;
        grid-template-areas: "Footer Footer Footer";
       
    
    .item1{
        background-color: rgb(19, 16, 16);
        grid-area: Footer;
        margin-top:10px;
        font-size: 20px;
        color: black;
        display: flex;  
        flex-direction: row; 
        justify-content: space-between;
        vertical-align: bottom;
        padding-top:10px;
        .twitter{
            color:rgb(88, 212, 150);
            font-family: $letraFooter, cursive;
            padding-left: 50px;
        };
        .facebook{
           @extend .twitter;
           padding-right:50px;
        }
        .instagram{
            @extend .twitter;
            padding-right:50px;
        }
    }    
    }
    .row{
        padding:20px;
        margin: 15px;
    }
    .row div a{
        background-color: rgb(19, 16, 16);
        color:rgb(88, 212, 150);
        font-size: 20px;
        float:right;
    }
    .card-img-top{
        width: 600px;
    }
    form{
        padding:20px;
        padding-right: 170px;
        margin: 20px;
        
       
       
    }
    
    .form button{
        float:right;
    }
    .formulario{
        float:right;
        
    }
    #boton{
        float:right;
        background-color: rgb(19, 16, 16);
        color:rgb(88, 212, 150);
    }
    .imagenvaca{
        margin:20px;
        height:500px;
        
    }
    #demo{
        
        color:rgb(88, 212, 150);
    }

//MEDIA QUERIES
@media only screen and (max-width: 1300px){}
@media only screen and (max-width: 1100px){}
@media only screen and (max-width: 992px){}
@media only screen and (max-width: 768px){}

